/* ȥ��������ѡ���е��µ����� */
#nav *::after{
    background-color: transparent!important;
}

/* �������˵������������Ŵ� */
#nav #site-name:hover, 
#nav .menus_item:hover{
    font-size: 28px;
	color: #49b1f5;
}