@font-face{
    font-family: 'JetBrainsMono Light';
    font-display: swap;
    src: url('../font/JetBrainsMono-Light.ttf') format("truetype");
}
@font-face{
    font-family: 'OPPOSans';
    font-display: swap;
    src: url('../font/OPPOSans R.ttf') format("truetype");
}
body {
    font-family: 'JetBrainsMono Light','OPPOSans';
}