@font-face{
    font-family: 'JetBrainsMono Light';
    font-display: swap;
    src: url('../font/JetBrainsMono-Light.woff2') format("woff2");
}
@font-face{
    font-family: 'AlibabaPuHuiTi';
    font-display: swap;
    src: url('../font/AlibabaPuHuiTi-3-55-Regular.woff2') format("woff2");
}
body {
    font-family: 'AlibabaPuHuiTi','JetBrainsMono Light';
}